header {
   background-color: #32B7B7;
   margin: auto;
   display: flex;
   justify-content: space-between;
} 

.nav-items{
   min-width: 30%;

   display: flex;
  
   align-items: center;

}

.items {
   display: flex;
   margin: auto;
   

  
}
   
.items li{
   margin: auto 10px;
   text-decoration: none;
   list-style: none; /* quita el estilo de la lista por defecto (los puntos) */
   
    
}

a {
   text-decoration: none; /* quita el estilo del texto por defecto (a) */
   font-weight: bold; /* negrita */
   color: rgb(32, 30, 30);
   font-size: 1.3rem;  /* rem es  un proporcional a un tamao estandar */

}


.body {
   background-color: black;
   margin: auto;
   height: auto;
   padding: auto;

   

}


footer {

   background-color: #32B7B7;
   margin: auto;
   display: flex;
   justify-content: space-between;
}

.icon3 {

   background-color: #32B7B7;
   min-width: 20%;
   display: flex;
   align-items: center;
}

.items3 {
   text-decoration: none;
   list-style: none;
}

.items3 img {
   width: 30px;

}



.center{

   display: flex;
   justify-content: center;
   align-items: center;
}

.space{

   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   


}

.caja{

   min-width: 25%;
   min-height: 200px;
   background-color: yellow;
   margin: 10px 10px;
}

.flex {
   margin: auto ;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;

}


